body
{
	background : url(paper.jpg) right top repeat;
	margin:25px;
}
table 
{
	border:5px solid black;
	border-radius: 25px;
}
td,tr 
{
	border: 1px solid #090870;
	padding: 10px;
	border-radius: 25px;
	vertical-align:top;
	transition: 5s;
}
img.pro{
	border-radius:50%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	border:3px solid black;
}
h1
{
	text-align:center;
}
h2
{
	text-transform:uppercase;
}
img.UMP{
float: right;
height:80px;
display:block;
margin-right:10%;
margin-left:0%;
width:auto;
}
img.PUO{
float: right;
height:90px;
display:block;
margin-right:50%;
margin-left:0%;
width:auto;
}
a:link {
  color: blue;
}
a:visited {
  color: green;
}
a:hover {
  color: yellow;
}

a:active {
  color: red;
}
.alamat
{
	text-align:center;
}
dt.skill{
	text-decoration: underline;
}
div.name{
	position: fixed;
	bottom: 30px;
	right: 20px;
	width: 300px;
	font-weight: bold;
	color: #808080;
}
td:hover{
	background-color: #9291E0;
}